%footer
  #main
    #stay-in-touch.moje-style
      %h1 GET IN TOUCH
      %p Lorem ipsum dolor amet, consecer adipiscing elit nunc bibendum purus.
      %p
        %i.far.fa-envelope
        W10 4SJ, london
        Flat 7, 54 Third Avenue
      %p
        %i.fas.fa-phone
        (+44) 07857112527
      %p
        %i.fas.fa-at
        msypniewski511@gmail.com
    #information.moje-style
      %h1
        INFORMATION
      %ul
        %li
          %a{:href => "/"}About Us
        %li
          %a{:href => "/"}Delivery information
        %li
          %a{:href => "/"}Privacy policy
        %li
          %a{:href => "/"}Discount
        %li
          %a{:href => "/"}Custom Service
        %li
          %a{:href => "/"}Terms & condition
    #linki.moje-style
      %h1
        USEFUL LINK
      %ul
        %li
          %a{:href => "/"}Our Stores
        %li
          %a{:href => "/"}Promotion
        %li
          %a{:href => "/"}Cusstomer Services
        %li
          %a{:href => "/"}Delivery Help
        %li
          %a{:href => "/"}Featured Sale
        %li
          %a{:href => "/"}Affiliate



    #from-blog.moje-style
      %h1 FROM BLOG
      = image_tag 'worldmap.png', class: 'mapa'


  #top-bottom
    Copyright © 2018 Emporium. All Rights Reserved. Created with ♥ by JoomlaBuff.com and
    %a{:href => "https://github.com/msypniewski511"} Maciej Sypniewski
    =image_tag 'payments_logos.png', class: 'left-align'
