.admin-index
  %table
    %thead
      %tr
        %th Name
        %th Edit
        %th Delete
    %tbody
      = render partial: 'author', collection: @authors

    = link_to 'Add new author', {action: 'new'}, {class: "btn green"}
