.admin-index
  %table
    %tr
      %th Name
      %th Edit
      %th Delete
    = render partial: 'author', collection: @authors

    = link_to 'Add new author', {action: 'new'}, {class: "btn green"}
