// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.books-element {
  clear: both;
  .img-container {
    float: left;
  }
  .content-container {
    float: left;
  }
  .blurb {
    clear: both;
  }

}
.books-list {
  clear: both;
}
#books {
  a {
    color: #666;
    text-decoration: none;
    transition: color .5s linear;
  }
  a:hover {
    color: #7ca3e2;
  }
}
